
@{
    ViewBag.Title = "Thanks";
}
<section class="main-block">
    <div class="container">

        <p>Thanks For your Feedback</p>
        <p><a href="@Url.RouteUrl("")">Home</a></p>

    </div>
</section>


